:root{
    --backgr-color: #141c21;
    --tittles-color: #D9FFF8;
    --links-color: #D9FFF8;
    --text-color: #D9FFF8;
    --border-table-color: #D9FFF8;
}
body{
    background-color: var(--backgr-color);
}
div#map { 
    width: 80vw;
    height: 65vh; 
    margin: 20px auto;
}
main{
    color: var(--text-color);
}
h1, h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2rem;
}
h2 a{
    color: var(--links-color);
    text-decoration: none;
}
h2 a:hover{
    text-decoration: underline;
}
section#statement_problem{
    margin: 0 30px;
    font-size: 1.2rem;
    line-height: 2;
}